node_modules/
dist/
.env
.env.local
.env.vps
.env.*.local
coverage/
.turbo/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
npm-debug.log*
*.log
src/db/prisma/dev.db
src/db/prisma/dev.db-journal
src/db/prisma/migrations/**/migration_lock.toml.tmp
video/*.mp4
video/*.mov
!video/Image_welcome.JPG
docs/*.pdf
